<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Risks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> RISK MANAGEMENT </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">


            <table th:object="${riskWrapper}" id="userTable" border="1">
                <thead>
                <tr>
                    <th>Etap prac</th>
                    <th>Rodzaj zagrozenia</th>
                    <th>Osoba zagrożona</th>
                    <th>Wstępna ocena ryzyka</th>
                    <th>Przeciwdziałanie</th>
                    <th>Końcowa ocena ryzyka</th>
                </tr>
                </thead>
                <tr th:each="riskList, status : ${riskWrapper.riskList}">
                    <td><input th:field="*{riskList[__${status.index}__].etapPrac}"/></td>
                    <td><input th:field="*{riskList[__${status.index}__].rodzajZagrozenia}"/></td>
                    <td><input th:field="*{riskList[__${status.index}__].zagrozonaOsoba}"/></td>
                    <td><input th:field="*{riskList[__${status.index}__].wstepneRyzyko}"/></td>
                    <td><input th:field="*{riskList[__${status.index}__].przeciwdzialanie}"/></td>
                    <td><input th:field="*{riskList[__${status.index}__].koncoweRyzyko}"/></td>
                </tr>
            </table>

        </div>
    </div>
</div>
<h2>Podjete srodki bezpieczenstwa</h2>
<table th:object="${divingPlanWrapper}" id="userTable2" border="1">
    <thead>
    <tr>
        <td>Podjete srodki bezpieczenstwa</td>

    </tr>
    </thead>
    <tr th:each="divingPlanList, status : ${divingPlanWrapper.divingPlanList}">
        <td><input th:field="*{divingPlanList[__${status.index}__].security}"/></td>

    </tr>
</table>
</body>
</html>