<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<h3>GAS AMOUNT:</h3>
<form action="#" th:action="@{/calculations}" th:object="${gasamount}" method="post">
    <p>Tank Volume: <input type="text" th:field="*{tankVolume}" /></p>
    <p>Pressure: <input type="text" th:field="*{pressure}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<h3>Result:
<span th:each="gasAmount : ${gasAmounts}">
    <span th:text="${gasAmount}"></span>
    </span>
</h3>
<br>
<br>

<h3>TIME UNDERWATER:</h3>
<form action="#" th:action="@{/calculations}" th:object="${timeUnderWater}" method="post">
    <p>SAC: <input type="text" th:field="*{surfaceAirConsuption}" /></p>
    <p>Absolute Pressure: <input type="text" th:field="*{absolutePressure}" /></p>
    <p>Tank Volume: <input type="text" th:field="*{tankVolume}" /> </p>
    <p>Tank Pressure (-50 if needed): <input type="text" th:field="*{tankPressure}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<h3>Result:
    <span th:each="timeUnderWater : ${timesUnderWater}">
    <span th:text="${timeUnderWater}"></span>
    </span>
</h3>
</body>
</html>