
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form>
        <input type="button" value="COUNTING GAS AMOUNT" onclick="window.location.href='/count/gasAmount'" /><br>
        <input type="button" value="COUNTING EAD" onclick="window.location.href='/count/equivalentAirDepth'" /><br>
        <input type="button" value="COUNTING MOD" onclick="window.location.href='/count/maximumOperationalDepth'" /><br>
        <input type="button" value="COUNTING PARTIAL PRESSURE" onclick="window.location.href='/count/partialPressure'" /><br>
        <input type="button" value="COUNTING TIME TO FIRST VENTILATION" onclick="window.location.href='/count/timeToVent'" /><br>
        <input type="button" value="COUNTING UPTD" onclick="window.location.href='/count/uptd'" /><br>
        <input type="button" value="COUNTING SAFE TIME UNDERWATER" onclick="window.location.href='/count/timeUnderwater'" /><br>
        <input type="button" value="COUNTING VENTILATION STREAM" onclick="window.location.href='/count/ventilationStream'" /><br>
    </form>

</div>
</body>
</html>