<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="ISO-8859-1" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
</head>

<body>



<div class="container">

<div th:if="${not #lists.isEmpty(divingPlan.divingType)}">
    <h2>Typ nurkowania</h2>
    <table class="table table-striped">

            <p th:text="${divingPlan.divingType.get(0)}" /><br>


    </table>
</div>

    <div th:if="${not #lists.isEmpty(divingPlan.purpose)}">
        <h2>Cel nurkowania</h2>
        <table class="table table-striped">
            <p th:text="${divingPlan.purpose.get(0)}" /><br>
        </table>
    </div>

    <div th:if="${not #lists.isEmpty(divingPlan.procedure)}">
        <h2>Procedura wykonywania prac podwodnych</h2><br>
        <h3>Technologia: </h3>
        <p th:text="${divingPlan.procedure.get(0)}" /><br>
        <h3>Kolejnosc dzialan: </h3>
        <p th:text="${divingPlan.procedure.get(1)}" />


    </div>


<div>
   <h2> Procedura dekompresji: </h2>
    <div align="center">

        <div class="container">
            <h2 align="center"></h2>
            <script
                    src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script
                    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <canvas id="myChart"></canvas>
            <canvas id="myChart2"></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
            <script th:inline="javascript">
                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',
                    // The data for our dataset
                    data: {
                        labels: [[${time}]],
                        datasets: [{
                            label: "DEKOMPRESJA",
                            backgroundColor: 'rgb(40, 66, 131)',
                            borderColor: 'rgb(40, 66, 131)',
                            data:
                                [[${depth}]],


                        }]
                    },

                    // Configuration options go here
                    options: {
                        elements: {
                            line: {
                                tension: 0, // disables bezier curves
                            }
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    reverse: true,
                                }
                            }]
                        }
                    }
                });
            </script>
            <div class="container2">
                <td>
                <span th:unless="${counterBreak == false}"><h2 align="center"></h2>
                <script th:inline="javascript">
            var ctx = document.getElementById('myChart2').getContext('2d');
            var chart = new Chart(ctx, {

                // The type of chart we want to create
                type: 'line',
                // The data for our dataset
                data: {
                    labels: [[${timeBreak}]],
                    datasets: [{
                        label: "DEKOMPRESJA PRZERYWANA",
                        backgroundColor: 'rgb(40, 66, 131)',
                        borderColor: 'rgb(40, 66, 131)',
                        data:
                            [[${depthBreak}]],
                    }]
                },
                // Configuration options go here
                options: {
                    elements: {
                        line: {
                            tension: 0, // disables bezier curves
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                reverse: true,
                            }
                        }]
                    }
                }
            });
        </script>

                </span>
                </td>

            </div>
        </div>
    </div>


</div>
<div th:if="${not #lists.isEmpty(divingPlan.equipment)}">
    <h2>Wyposazenie</h2><br>

    <p th:text="${divingPlan.equipment.get(0)}" /><br>
</div>


<div th:if="${not #lists.isEmpty(divingPlan.team)}">
    <h2>Skład ekipy</h2>
    <table class="table table-striped">
        <p th:text="${divingPlan.team.get(0)}" /><br>
    </table>
</div>

<div>
    <h2>Zapas powietrza:</h2>
    <table class="table table-striped">
        <h3>Powietrze:</h3>
        <p th:text="${divingPlan.airSupply.get(0)}" /><br>

        <h3>Tlen:</h3>
        <p th:text="${divingPlan.airSupply.get(1)}" /><br>
    </table>
</div>

<div>
    <h2>Zasady przekazywania poleceń i ich potwierdzania: </h2>
    <table class="table table-striped">
        <p th:text="${divingPlan.commands.get(0)}" /><br>
    </table>
</div>

<div>
    <h2>Procedura łączności zasadniczej i awaryjnej </h2>
    <table class="table table-striped">
        <h3>Łączność zasadnicza:</h3>
        <p th:text="${divingPlan.communication.get(0)}" /><br>

        <h3>Łączność awaryjna:</h3>
        <p th:text="${divingPlan.communication.get(1)}" /><br>
    </table>
</div>

<div>
    <h2>System asekuracji </h2>
    <table class="table table-striped">
        <p th:text="${divingPlan.asecuration.get(0)}" /><br>
    </table>
</div>


<div>
    <h2>Tryb postępowania w sytuacjach awaryjnych: </h2>
    <table class="table table-striped">
        <p th:text="${divingPlan.accident.get(0)}" /><br>
    </table>
    <h2>Dokumentacja medyczna: </h2>
    <table class="table table-striped">
        <p th:text="${divingPlan.accident.get(1)}" /><br>
    </table>
</div>

<div>
    <h2>Warunki hydro-meteo: </h2>


        <p> Przejrzystość wody: <span th:text="${divingPlan.weatherConditions.get(0)}"></span>m</p>
        <p> przejrzystość powietrza: <span th:text="${divingPlan.weatherConditions.get(1)}"></span> m </p>
        <p> Siła wiatru: <span th:text="${divingPlan.weatherConditions.get(2)}"></span>m</p>
        <p> Kierunek wiatru: <span th:text="${divingPlan.weatherConditions.get(3)}"></span>m</p>
        <p> Wysokość fali  <span th:text="${divingPlan.weatherConditions.get(4)}"></span>m</p>
        <p> Głebokość: <span th:text="${divingPlan.weatherConditions.get(5)}"></span>m</p>
        <p> Rodzaj dna: <span th:text="${divingPlan.weatherConditions.get(6)}"></span></p>
        <p> Siła prądu: <span th:text="${divingPlan.weatherConditions.get(7)}"></span>w</p>
        <p> Temperatura wody: <span th:text="${divingPlan.weatherConditions.get(8)}"></span>C</p>
        <p> Temperatura powietrza: <span th:text="${divingPlan.weatherConditions.get(9)}"></span>C</p>
        <p> Wysokość n.p.m. <span th:text="${divingPlan.weatherConditions.get(10)}"></span>m</p>
        <p> Przeszkody i obiekty podwodne <span th:text="${divingPlan.weatherConditions.get(11)}"></span></p>
        <p> Ruch jednostek pływających <span th:text="${divingPlan.weatherConditions.get(12)}"></span></p>
        <p> Pora dnia <span th:text="${divingPlan.weatherConditions.get(13)}"></span></p>
        <p> Pora roku <span th:text="${divingPlan.weatherConditions.get(14)}"></span></p>

</div>

<div>
    <h2>System powiadamiania na wypadek sytuacji awaryjnej: </h2>
    <table class="table table-striped">
        <h3>Learz:</h3>
        <p th:text="${divingPlan.evacuation.get(0)}" /><br>

        <h3>Oficer dyżurny:</h3>
        <p th:text="${divingPlan.evacuation.get(1)}" /><br>
    </table>
</div>

<div>
    <h2>Zabezpieczenie medyczne </h2>
    <table class="table table-striped">
        <h3>Learz:</h3>
        <p th:text="${divingPlan.medic.get(0)}" /><br>

        <h3>Komora dekomprsyjna:</h3>
        <p th:text="${divingPlan.medic.get(1)}" /><br>

        <h3>Szpital:</h3>
        <p th:text="${divingPlan.medic.get(2)}" /><br>
    </table>
</div>

<h2><a href="/profile">Submit another profile</a></h2><br>
<h2><a href="/riskForm">RISK MANAGEMENT</a></h2>
<input type="submit"  name="pdf" value="pdf"/>
</div>
</body>
</html>
