<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="ISO-8859-1" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
</head>

<body>



<div class="container">

<div th:if="${not #lists.isEmpty(divingPlan.divingType)}">
    <h2>Typ nurkowania</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Description</th>
        </tr>

        <tr th:each="type : ${divingPlan.divingType}">
            <td th:text="${divingPlan.divingType.indexOf(type)}+1"></td>
            <td th:text="${type}"></td>
        </tr>
    </table>
</div>

    <div th:if="${not #lists.isEmpty(divingPlan.purpose)}">
        <h2>Cel nurkowania</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Description</th>
            </tr>

            <tr th:each="target : ${divingPlan.purpose}">
                <td th:text="${divingPlan.purpose.indexOf(target)}+1"></td>
                <td th:text="${target}"></td>


            </tr>

        </table>
    </div>

    <div th:if="${not #lists.isEmpty(divingPlan.procedure)}">
        <h2>Procedura wykonywania prac podwodnych</h2><br>
        <h3>Technologia: </h3>
        <p th:text="${divingPlan.procedure.get(0)}" /><br>
        <h3>Kolejnosc dzialan: </h3>
        <p th:text="${divingPlan.procedure.get(1)}" />


    </div>

</div>
<div>
   <h2> Procedura dekompresji: </h2>
    <div align="center">

        <div class="container">
            <h2 align="center"></h2>
            <script
                    src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script
                    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <canvas id="myChart"></canvas>
            <canvas id="myChart2"></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
            <script th:inline="javascript">
                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',
                    // The data for our dataset
                    data: {
                        labels: [[${time}]],
                        datasets: [{
                            label: "DEKOMPRESJA",
                            backgroundColor: 'rgb(40, 66, 131)',
                            borderColor: 'rgb(40, 66, 131)',
                            data:
                                [[${depth}]],


                        }]
                    },

                    // Configuration options go here
                    options: {
                        elements: {
                            line: {
                                tension: 0, // disables bezier curves
                            }
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    reverse: true,
                                }
                            }]
                        }
                    }
                });
            </script>
            <div class="container2">
                <td>
                <span th:unless="${counterBreak == false}"><h2 align="center"></h2>
                <script th:inline="javascript">
            var ctx = document.getElementById('myChart2').getContext('2d');
            var chart = new Chart(ctx, {

                // The type of chart we want to create
                type: 'line',
                // The data for our dataset
                data: {
                    labels: [[${timeBreak}]],
                    datasets: [{
                        label: "DEKOMPRESJA PRZERYWANA",
                        backgroundColor: 'rgb(40, 66, 131)',
                        borderColor: 'rgb(40, 66, 131)',
                        data:
                            [[${depthBreak}]],
                    }]
                },
                // Configuration options go here
                options: {
                    elements: {
                        line: {
                            tension: 0, // disables bezier curves
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                reverse: true,
                            }
                        }]
                    }
                }
            });
        </script>

                </span>
                </td>

            </div>
        </div>
    </div>


</div>
<h2><a href="/profile">Submit another profile</a></h2><br>
<h2><a href="/riskForm">RISK MANAGEMENT</a></h2>
<input type="submit"  name="pdf" value="pdf"/>

</body>
</html>
