<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:textarea="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="ISO-8859-1" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

</head>
<body>

<h1>Diving Plan</h1>


<form action="#" th:action="@{/divingPlanForm}"  method="post">

    <div th:object="${divingPlan}">
        <p>Rodzaj prac podwodnych </p>

        <textarea id="Type" cols="200" rows="4" th:value="null" th:field="*{divingType}" placeholder="(Wprowadz rodzaj prac podwodnych, miejsce oraz pododdział)"> </textarea>
<!--
        <input type="button" value="Dodaj własne" onclick='addForm();'/>
        <textarea id="invisibleElement" cols="50" rows="4" th:value="null" th:field="*{divingType}" placeholder="(Wprowadz cel)" disabled > </textarea>
    -->
    </div>

    <div th:object="${divingPlan}">
        <p>Cel prac podwodnych </p>
        <textarea id="Purpose" cols="200" rows="4" th:value="null" th:field="*{purpose}" placeholder="(Wprowadz cel prac podwodnych)"> </textarea>
    </div>

    <div th:object="${divingPlan}">
        <p>Procedura wykonywania prac podwodnych: </p>
        <textarea id="Procedure" cols="200" rows="4" th:value="null" th:field="*{procedure}" placeholder="(Technologia nurkowania)"> </textarea>
        <textarea id="Procedure2" cols="200" rows="4" th:value="null" th:field="*{procedure}" placeholder="(Kolejność głównych przedsięwzięć)"> </textarea>

    </div>


    <div th:object="${divingPlan}">
        <p>Wyposażenie: </p>
        <textarea id="Equipment" cols="200" rows="4" th:value="null" th:field="*{equipment}" placeholder="(Wykorzystane wyposażenie)"> </textarea>
    </div>

    <div th:object="${divingPlan}">
        <p>Skład ekipy </p>
        <textarea id="Team" cols="200" rows="4" th:value="null" th:field="*{team}" placeholder="(Skład ekipy)"> </textarea>
    </div>

    <div th:object="${divingPlan}">
        <p>Zapas czynników oddechowych </p>
        <p>Powietrze: <input type="text" th:field="*{airSupply}" /></p>
        <p>Tlen: <input type="text" th:field="*{airSupply}" /></p>
    </div>

    <div th:object="${divingPlan}">
        <p>Zasady przekazywania poleceń i ich potwierdzania </p>
        <textarea id="Commands" cols="200" rows="4" th:value="null" th:field="*{commands}" placeholder="(łączność  przewodowa – przekazywanie poleceń od i do kierownika poprzez operatora tablicy, lina sygnalizacyjna – przekazywanie sygnałów poprzez wiązkę
       Sygnalista melduje o odebranych sygnałach kierownikowi
       Operator tablicy zasilania melduje o odebraniu komunikatu kierownikowi)"> </textarea>
    </div>
    <div th:object="${divingPlan}">
        <p>Procedura łączności zasadniczej i awaryjnej </p>
        <p>Łączność zasadnicza: </p>
            <textarea id="CommunicationBasic" cols="200" rows="4" th:value="null" th:field="*{communication}" placeholder="Sygnały umowne liną sygnałową na boi"> </textarea>
        <p>Łączność awaryjna: </p>
        <textarea id="CommunicationAux" cols="200" rows="4" th:value="null" th:field="*{communication}" placeholder="Sygnały dźwiękowe nadawane za pomocą dostępnych środków"> </textarea>
    </div>

    <div th:object="${divingPlan}">
        <p>System asekuracji </p>
        <textarea id="Asecuration" cols="200" rows="4" th:value="null" th:field="*{asecuration}" placeholder="nurek roboczy jest zabezpieczany przez nurka asekurującego z wody, na powierzchni sygnalista prowadzi nurka, deska ratownicza, RLKZH, lekarz"> </textarea>
    </div>

    <div th:object="${divingPlan}">
        <p>Tryb postępowania w sytuacjach awaryjnych: </p>
        <textarea id="Accident" cols="200" rows="4" th:value="null" th:field="*{accident}" placeholder="Przerwanie prac podwodnych --> powiadomienie lekarza --> Wydobycie nurka z wody --> Tlenoterapia --> Zamocowanie nurka w desce ratowniczej --> Przetransportowanie nurka do komory dekompresyjnej --> W razie konieczności przetransportowanie nurka do Kliniki Medycyny Hiperbarycznej i Ratownictwa Morskiego"> </textarea>
        <p>Dokumentacja medyncza: </p>
        <textarea id="AccidentDocs" cols="200" rows="4" th:value="null" th:field="*{accident}" placeholder="protokół medyczny wypadku nurkowego -  NO 07-A026, arkusz 4minutowego badania neurologicznego - instrukcja zab. med."> </textarea>

    </div>

    <div th:object="${divingPlan}">
        <p>warunki hydrometeorologiczne:  , , pora dnia i roku </p>
        <p>Przejrzystość wody: <input type="text" th:field="*{weatherConditions}" /></p>
        <p>przejrzystość powietrza: <input type="text" th:field="*{weatherConditions}" /></p>
        <p>Siła wiatru: <input type="text" th:field="*{weatherConditions}" /></p>
        <p>Kierunek wiatru: <input type="text" th:field="*{weatherConditions}" /></p>
        <p>Wysokość fali: <input type="text" th:field="*{weatherConditions}" /></p>
        <p>Głebokość <input type="text" th:field="*{weatherConditions}" /></p>
        <p>Rodzaj dna: <input type="text" th:field="*{weatherConditions}" /></p>
        <p>Siła prądu: <input type="text" th:field="*{weatherConditions}" /></p>
        <p>Temperatura wody: <input type="text" th:field="*{weatherConditions}" th:value="24"/></p>
        <p>Temperatura powietrza: <input type="text" th:field="*{weatherConditions}" /></p>
        <p>Wysokość n.p.m.: <input type="text" th:field="*{weatherConditions}" /></p>
        <p>Przeszkody i obiekty podwodne: <input type="text" th:field="*{weatherConditions}" /></p>
        <p>Ruch jednostek pływających: <input type="text" th:field="*{weatherConditions}" /></p>
        <p>Pora dnia: <input type="text" th:field="*{weatherConditions}" /></p>
        <p>Pora roku: <input type="text" th:field="*{weatherConditions}" /></p>


    </div>

    <div th:object="${divingPlan}">
        <p>System powiadamiania na wypadek sytuacji awaryjnej: </p>
        <p>Lekarz: <input type="text" th:field="*{evacuation}" /></p>
        <p>Oficer dyżurny: <input type="text" th:field="*{evacuation}" /></p>

    </div>

    <div th:object="${divingPlan}">
        <p>Zabezpieczenie medyczne: </p>
        <p>Lekarz: <input type="text" th:field="*{evacuation}" /></p>
        <p>Komora dekompresyjna: <input type="text" th:field="*{evacuation}" /></p>
        <p>Szpital:</p>
        <textarea id="Hospital" cols="200" rows="4" th:value="null" th:field="*{accident}" placeholder="Klinika Medycyny Hiperbarycznej i Ratownictwa Morskiego : Adres: Powstania Styczniowego 9B, 81-519 Gdynia, Telefon: 58 699 86 54
"> </textarea>


    </div>

    <p><input type="submit" value="Submit" /> </p>

</form>
</body>
</html>

