 <!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Handling Form Submission</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <script th:inline="javascript">
        function validateForm() {
            var x = document.forms["myForm"]["depth"].value;
            var y = document.forms["myForm"]["overalTime"].value;

            var letters = /^[A-Za-z]+$/;


            if (x <= 0  || x.match(letters)) {
                alert("Niepoprawna głębokość");
                document.getElementById('depth').style.borderColor = "coral";
                return false;
            }


            if (y <= 0 || y.match(letters)) {
                alert("Niepoprawny czas");
                document.getElementById('time').style.borderColor = "coral";
                return false;
            }
        }
    </script>



<body>

<h1>PODSTAWOWE DANE NURKOWANIA</h1>
<form name="myForm" action="#" th:action="@{/profile}" th:object="${profile}" onsubmit="return validateForm()" method="post">
    <p>GLEBOKOSC (21-49)[m]: <input type="text" th:id="depth" name="depth" th:field="*{depth}"  /></p>
    <p>CZAS (36-180)[min]: <input type="text" th:id="time" name="overalTime" th:field="*{overalTime}" /></p>
    <p><input type="submit" value="Get profile" /></p>

</form>
</body>
</html>