<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:textarea="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Analiza ryzyka</h2>
<form action="#" th:action="@{/riskForm}" th:object="${riskWrapper}"
      method="post">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save"/>
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <input type="submit"  name="addRow" value="addRow"/>

    <table class="dynatable" id="myTable">
        <thead>
        <tr>
            <th>Etap prac</th>
            <th>Rodzaj zagrozenia</th>
            <th>Osoba zagrożona</th>
            <th>Wstępna ocena ryzyka</th>
            <th>Przeciwdziałanie</th>
            <th>Końcowa ocena ryzyka</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="risk, status : ${riskWrapper.riskList}">
            <td><input th:field="*{riskList[__${status.index}__].etapPrac}"/></td>
            <td><input th:field="*{riskList[__${status.index}__].rodzajZagrozenia}"/></td>
            <td><input th:field="*{riskList[__${status.index}__].zagrozonaOsoba}"/></td>
            <td><input th:field="*{riskList[__${status.index}__].wstepneRyzyko}"/></td>
            <td><input th:field="*{riskList[__${status.index}__].przeciwdzialanie}"/></td>
            <td><input th:field="*{riskList[__${status.index}__].koncoweRyzyko}"/></td>
        </tr>

        </tbody>
        <tfoot>
        <input type="submit"  name="addRow" value="addRow"/>
        </tfoot>
    </table>
    </fieldset>
</form>
</body>




</html>